.container-fluid{
    margin-top: 10px;
    
}

.reports p{
    margin: 10px;
    border:1px solid black;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}
.card-body{
    color:black;
    font-weight: bold
}

.header {
    padding: 30px;
    text-align: center;
    background : steelblue;
    color: white;
    font-size: 30px;
  }